.users{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
    border:1px solid black;
}

.user-block{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border:1px solid red;
}

.user-text-info{
    display:flex;
    flex-direction:column;
}
.user-info{
display:flex;
flex-direction:column;
width:50%;
margin:auto;
}